.descriptionBlock {
    padding: 10px;
}

.profileBackground {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;
    background-image: url("../../../assets/backfround-removebg-preview.png");
    background-size: contain;
}