.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs-item {
    padding: 10px;
    color: white;
}

.dialogs-item active {
    color: gold;
}

.dialog {

}

.messages {
padding: 10px;
}

.messages .message{
color: white;
}